@{
    ViewData["Title"] = "Home";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Run</title>
    <!--We need the meta tag to properly scale the responsive CSS code-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Here I imported two fonts-->
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900|Cormorant+Garamond:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>

    <!--The header START-->
    <!--  <header>-->
    <!--Header logo-->
    <!--<a href="index.html" class="header-brand">QuickRUN</a>
    <!--Header menu-->
    <!--The header END-->
    <!--</header>-->
    <!--The main content START-->
    <main>
        <!--The website banner START-->
        <section class="index-banner">
            <div class="vertical-center">

                <h2>SUNNY<br>SAN DIEGO</h2>
                <h1>Find your next fun run. Click and go!</h1>
            </div>
            <!--The website banner END-->
        </section>
        <!--First wrapper START-->
        <div class="wrapper">
            <!--The links/boxes bellow the banner START-->
            <section class="index-links">
                <a href="#">
                    <div class="index-boxlink-beach">
                        <h3 style="color: #fff;">Beach</h3>
                    </div>
                </a>

                <a href="#">
                    <div class="index-boxlink-public">
                        <h3 style="color: #fff;">Public</h3>
                    </div>
                </a>

                <a href="cases.html">
                    <div class="index-boxlink-trail">
                        <h3 style="color: #fff;">Trail</h3>
                    </div>
                </a>

                <a href="#">
                    <div class="index-boxlink-square">
                        <h3 style="color: #fff;">Park</h3>
                    </div>
                </a>

                <a href="#">
                    <div class="index-boxlink-hill">
                        <h3 style="color: #fff;">Hills</h3>
                    </div>
                </a>

                <a href="#">
                    <div class="index-boxlink-rectangle">
                        <h3 style="color: #fff;">Lake</h3>
                    </div>
                </a>

                <a href="#">
                    <div class="index-boxlink-roughterrain">
                        <h3 style="color: #fff;">Rough Terrain</h3>
                    </div>
                </a>

                <!--The links/boxes bellow the banner END-->
            </section>
            <!--First wrapper END-->
        </div>
        <!--The main content END-->
    </main>
</body>
</html>

